#!  цей файл для список змінних в .env, коментарі типу DB_URI і що в ній має міститися,
#! це потім копіюємо в новостровений .env і проставляємо свої дані (бо на новому проєкті в нас не буде видно на чужому репозиторії файл .env)
DB_URI=# Connection to MongoDB
VARIABLE_2=1
VARIABLE_3=2
VARIABLE_4=3